body{
    background-color: white;
}

.input-field{
    border: 2px solid black;
    margin: 2rem 0;
}


.input {
    background-color: #5cdb95;
    border: 1ex solid none;
    border-top-width: 1.7em;
    margin: 1rem 0;
    padding: 0;
    color: black;
    word-wrap: break-word;
    outline: 5px solid #010101;
    height: 40px;
    font-size: 17px;
    text-align: center;
    transition: all 1s;
    max-width:400px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
   }
   
   .input:hover {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
   }
   
   .input:focus {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
   }

   .button {
    width: 150px;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #5cdb95;
  }
  
  .button span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
  }
  
  .button:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
  }
  